<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Social login</h1>
    <a th:href="@{/auth/google(scope='profile')}" class="btn btn-primary">Google+</a>
    <a th:href="@{/auth/vkontakte(scope='offline')}" class="btn btn-secondary">VKontakte</a>
</div>
</body>
</html>